@import "~@flowstorm/bot-ui/app.css";

.fs-client-play {
    display: none;
	position:absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
	cursor: pointer;
	border-radius: .7rem;

	&:after {
		content: "";
		display: block;
		left: 50%;
		top: 50%;
		background-image: url('../assets/play.png');
		background-size: 100%;
		position: absolute;
		width: 100px;
		height: 100px;
		margin: -50px 0 0 -50px;
	}
}

[data-collapsable] {
	.fs-client-play {
		height: calc(100% - 70px);
	}
}

[data-collapsable="collapsed"] {
	.fs-client-modal {
		display: none;
	}
}

.fs-client-modal {
	display: none;
	position: absolute;
	z-index: 10;
	left: 10%;
	top: 5%;
	overflow: hidden; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	width: 80%;
	font-family: "Century Gothic", sans-serif;
	border-radius: .7rem;

	.fs-client-modal-content {
		background-color: #fefefe;
		//width: calc(100% - 20px); /* Could be more or less, depending on screen size */
		padding: 10px;
		display: flex;
		flex-direction: column;

		.fs-client-consent {
			max-height: 500px;
			width: 98%;
			overflow: auto;
			display: inline-block;
			padding: 10px;
			font-size: 14px;

			h1 {
				font-size: 19px;
				text-transform: uppercase;
			}

			h2 {
				font-size: 17px;
			}

			h3 {
				font-size: 15px;
			}

			ol {
				padding: 0 0 0 15px;

				ol {
					list-style-type: lower-alpha;
				}
			}

			&::-webkit-scrollbar {
				width: 11px;
			}
			&::-webkit-scrollbar-track {
				background: transparent;
			}
			&::-webkit-scrollbar-thumb {
				background-color: rgba(0, 0, 0, .5);
				border-radius: 6px;
				border: 3px solid transparent;
			}
		}

		.fs-client-consent-text {
			text-align: center;
			padding: 10px;
			font-size: 14px;
		}

		.fs-client-consent-buttons {
			display: flex;
			justify-content: center;

			.fs-client-consent-button {
				border-radius: .7rem;
				border: 0;
				width: 120px;
				height: 40px;
				position: relative;
				margin: 0 20px 0 20px;
				background-color: blue;
				color: white;
				font-size: 17px;
				cursor: pointer;
			}
		}
	}
}
